@model TheDarkPortal.Web.ViewModels.Card.CardViewModel;

@{
    this.ViewData["Title"] = "Card Details";
}


<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/carddetails.css" asp-append-version="true" />
</head>
@if (User.Identity.IsAuthenticated)
{

    @if (Model.Currencies != null)
    {
        <div>
            <partial name="_UserCurrencyPartial" model="@Model.Currencies" />
        </div>
    }
}


<div id="mainDetails" class="row col-md-6 offset-3 mt-5">

    <div class="statistics col col-md-3">
        <div class="stats">
            <p class="row justify-content-between">Name <span>@Model.Name</span></p>
            <p class="row justify-content-between">Element <span>@Model.Element</span></p>
            <p class="row justify-content-between">Tire <span>@Model.Tire</span></p>
            <p class="row justify-content-between">Level <span>@Model.Level</span></p>
            <p class="row justify-content-between">Attack <span>@Model.Attack</span></p>
            <p class="row justify-content-between">Defense <span>@Model.Defense</span></p>
            <p class="row justify-content-between">Health <span>@Model.Health</span></p>
            <p class="row justify-content-between">Level Price <span>@Model.LevelPrice</span></p>
        </div>
    </div>

    <div class="img col-md-6" style="width: 18rem;">

        <img class="card-img" src="@Model.ImagePath" alt="Card image cap">

    </div>

    <div class="buttons col col-md-3">

        <a class="myButton" asp-controller="Cards" asp-action="DeleteCard" asp-route-id="@Model.Id">Delete</a>
        <a class="myButton" asp-controller="Cards" asp-action="LevelUp" asp-route-id="@Model.Id">Level Up</a>

    </div>

</div>