@model TheDarkPortal.Web.ViewModels.Card.CombinedMyCardsViewModel;

@{
    this.ViewData["Title"] = "My Cards";
}


<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/mycards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mycardsbuttons.css" asp-append-version="true" />
</head>







<div id="mycardsbody" class="col-md-12 row justify-content-around">

    @*-------All User Cards-------*@

    <div id="scrollable" class="col-md-7 border border-dark">
        <div class="row">


            @foreach (var card in Model.Cards.Cards)
            {
                <div class="mt-0">

                    <a id="myCardModel" class="text-dark" asp-controller="Cards" asp-action="CardDetails" asp-route-id="@card.Id">

                        <div class="card-view_mycards">

                            <div class="card-img card-header cardModel">

                                <img class="card-img" src="@card.ImagePath" alt="Image" />

                                <div class="">
                                    <a class="newButton newButtonAll" asp-controller="Cards" asp-action="ToFuse" asp-route-id="@card.Id"><i class="fas fa-angle-double-right"></i></a>
                                </div>

                                @if (card.IsBattleSetCard)
                                {
                                    <a class="newButtonTwo newButtonAll"><i class="fas fa-shield-alt"></i></a>
                                }
                                else
                                {
                                    @if (Model.Cards.Cards.Where(x => x.IsBattleSetCard == true).Count() >= 4)
                                    {
                                        <a class="newButtonTwo newButtonAll"><i class="fas fa-minus"></i></a>
                                    }
                                    else
                                    {
                                        <a class="newButtonTwo newButtonAll" asp-controller="Cards" asp-action="AddCardToBattleSet" asp-route-id="@card.Id"><i class="fas fa-angle-double-down"></i></a>

                                    }
                                }

                            </div>

                            <div class="card-stats-content">

                                <div class="card-stats-content-head">

                                    <h3 class="card-stats-title">@card.Name</h3>
                                    <div class="ratings"><span><i class="fas fa-bolt"></i></span>@card.Power</div>

                                </div>
                                <div class="card-stats-info">
                                    <div class="stats-info">
                                        <label class="ml-2"><i class="fas fa-angle-double-up"></i></label>
                                        <span>@card.Attack</span>
                                    </div>
                                    <div class="stats-info">
                                        <label><i class="fas fa-shield-alt"></i></label>
                                        <span>@card.Defense</span>
                                    </div>
                                    <div class="stats-info">
                                        <label class="mr-2"><i class="fas fa-heartbeat"></i></label>
                                        <span>@card.Health</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
            }

        </div>

    </div>


    @*-------Fuse Cards-------*@

    <div class="col-md-4 justify-content-between">

        <div class="border border-dark" style="height: 340px;">

            <div class="row col-md-12 justify-content-around">

                @foreach (var fuseCard in Model.FuseCards.Cards)
                {
                    <div class="">

                        <div class="card-view_mycards">
                            <div class="card-img card-header cardModel">
                                <img class="card-img" src="@fuseCard.ImagePath" alt="Image" />

                                <a class="newButtonFuse newButtonAll" asp-controller="Cards" asp-action="RemoveFromFuse" asp-route-id="@fuseCard.Id"><i class="fas fa-angle-double-left"></i></a>

                            </div>

                            <div class="card-stats-content">
                                <div class="card-stats-content-head">

                                    <h3 class="card-stats-title">@fuseCard.Name</h3>

                                    <div class="ratings"><span><i class="fas fa-bolt"></i></span>@fuseCard.Power</div>
                                </div>
                                <div class="card-stats-info">
                                    <div class="stats-info">
                                        <label>Attack</label>
                                        <span>@fuseCard.Attack</span>
                                    </div>
                                    <div class="stats-info">
                                        <label>Defence</label>
                                        <span>@fuseCard.Defense</span>
                                    </div>
                                    <div class="stats-info">
                                        <label>Healt</label>
                                        <span>@fuseCard.Health</span>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                }

            </div>

        </div>

        <div class="row justify-content-around mt-2">
            @if (Model.FuseCards.Cards.Count() == 2)
            {
                <a class="btn btn-danger" asp-controller="Cards" asp-action="Fuse">Fuse</a>
            }
            else
            {
                <a class="btn btn-danger disabled" asp-controller="Cards" asp-action="Fuse">Fuse</a>
            }

        </div>

        <div class="col-md-12 border border-dark mt-3" style="height: 130px; width: ">
            <p class="" style="font-family: 'Goldman', cursive; font-size: 30px; text-align: center;">Only two cards of same types and same tires can be fused. Higher levels fused higher result.</p>
        </div>
    </div>
</div>


<div class="bottom row col-md-12 justify-content-around mt-3 mb-1">

    @*-------Battle Cards Set--------*@

    <div class="row col-md-7 border border-dark">

        <div class="row col-md-12 justify-content-center">

            @foreach (var card in Model.Cards.Cards.Where(x => x.IsBattleSetCard == true))
            {
                <div class="mb-3">

                    <div class="card-view_mycards">
                        <div class="card-img card-header cardModel">
                            <img class="card-img" src="@card.ImagePath" alt="Image" />

                            <a class="newButtonBattleSet newButtonAll" asp-controller="Cards" asp-action="RemoveCardFromBattleSet" asp-route-id="@card.Id"><i class="fas fa-angle-double-up"></i></a>

                        </div>

                        <div class="card-stats-content">
                            <div class="card-stats-content-head">

                                <h3 class="card-stats-title">@card.Name</h3>

                                <div class="ratings"><span><i class="fas fa-bolt"></i></span>@card.Power</div>
                            </div>
                            <div class="card-stats-info">
                                <div class="stats-info">
                                    <label><i class="fas fa-angle-double-up"></i></label>
                                    <span>@card.Attack</span>
                                </div>
                                <div class="stats-info">
                                    <label>Defence</label>
                                    <span>@card.Defense</span>
                                </div>
                                <div class="stats-info">
                                    <label>Healt</label>
                                    <span>@card.Health</span>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            }

        </div>

    </div>

    <div class="col-md-4">
        <div class="col-md-12 border border-dark">
            <p class="" style="font-family: 'Goldman', cursive; font-size: 30px; text-align: center;">Some Text here. Some Text here. Some Text here. Some Text here. Some Text here. Some Text here. Some Text here. Some Text here.</p>
        </div>
    </div>
</div>
