@model TheDarkPortal.Web.ViewModels.OfflineBattle.CombinedOfflineBattleViewModel;

@{
    this.ViewData["Title"] = "Offline Battle";
}


<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/offlinebattlecards.css" asp-append-version="true" />
</head>
@if (User.Identity.IsAuthenticated)
{

    @if (Model.Currencies != null)
    {
        <div>
            <partial name="_UserCurrencyPartial" model="@Model.Currencies" />
        </div>
    }
}

<body>

    <div class="row justify-content-around">

        @*----------------Attacker---------------*@

        <div class="col col-md-3 border border-dark m-1">

            @foreach (var card in Model.AttackerCards.Cards)
            {
                <div class="row">

                    <div class="cardStats">
                        <p>Tire  <span>@card.Tire</span></p>
                        <p>Attack <br /> <span>@card.Attack</span></p>
                        <p>Defense <br /> <span>@card.Defense</span></p>
                        <p>Health <br /> <span>@card.Health</span></p>
                    </div>

                    @if (!card.IsDestroyed)
                    {
                        @if (card.IsSelected)
                        {
                            <div class="flip-card-container" style="--hue: 220">
                                <div class="flip-card">

                                    <div id="selected" class="card-front">
                                        <figure>
                                            <div class="img-bg"></div>
                                            <img src="@card.ImagePath" alt="Brohm Lake">
                                        </figure>
                                    </div>

                                    <div id="selected" class="card-back">
                                        <figure>
                                            <div class="img-bg"></div>
                                            <img src="@card.ImagePath" alt="Brohm Lake">
                                        </figure>


                                        <div class="design-container">
                                            <span class="design design--1"></span>
                                            <span class="design design--2"></span>
                                            <span class="design design--3"></span>
                                            <span class="design design--4"></span>
                                            <span class="design design--5"></span>
                                            <span class="design design--6"></span>
                                            <span class="design design--7"></span>
                                            <span class="design design--8"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="flip-card-container" style="--hue: 220">
                                <div class="flip-card">

                                    <div id="notSelected" class="card-front">
                                        <figure>
                                            <div class="img-bg"></div>
                                            <img src="@card.ImagePath" alt="Brohm Lake">
                                        </figure>
                                    </div>

                                    <div id="notSelected" class="card-back">
                                        <figure>
                                            <div class="img-bg"></div>
                                            <img src="@card.ImagePath" alt="Brohm Lake">
                                        </figure>

                                        @if (!card.HaveTakenTurn && !card.IsDestroyed)
                                        {
                                            <a class="btn btn-link btn-sm" asp-controller="OfflineBattle" asp-action="AttackerSelectCard" asp-route-id="@card.CardId">Select</a>

                                        }

                                        <div class="design-container">
                                            <span class="design design--1"></span>
                                            <span class="design design--2"></span>
                                            <span class="design design--3"></span>
                                            <span class="design design--4"></span>
                                            <span class="design design--5"></span>
                                            <span class="design design--6"></span>
                                            <span class="design design--7"></span>
                                            <span class="design design--8"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="flip-card-container" style="--hue: 220">
                            <div class="flip-card">

                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="/images//DeadCard.jpg" alt="Brohm Lake">
                                    </figure>
                                </div>

                                <div class="card-back">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="/images/DeadCard.jpg" alt="Brohm Lake">
                                    </figure>


                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                    @if (!card.HaveTakenTurn && !card.IsDestroyed)
                    {
                        <p class="mt-2" style="color: orangered;"><i class="fas fa-angle-double-right fa-2x"></i></p>

                    }

                </div>

            }

        </div>

        @*Middle conteiner*@

        <div class="col-md-3 m-1 border border-dark">

        </div>

        @*----------------Defender---------------*@

        <div class="col col-md-3 border border-dark m-1 d-flex align-items-end flex-column">
            @foreach (var card in Model.DefenderCards.Cards)
            {
                <div class="row">

                    @if (card.IsDestroyed)
                    {

                        <div class="flip-card-container" style="--hue: 220">
                            <div class="flip-card">

                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="/images/DeadCard.jpg" alt="Brohm Lake">
                                    </figure>
                                </div>

                                <div class="card-back">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="/images/DeadCard.jpg" alt="Brohm Lake">
                                    </figure>


                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="flip-card-container" style="--hue: 220">
                            <div class="flip-card">

                                <div class="card-front">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="@card.ImagePath" alt="Brohm Lake">
                                    </figure>
                                </div>

                                <div class="card-back">
                                    <figure>
                                        <div class="img-bg"></div>
                                        <img src="@card.ImagePath" alt="Image">
                                    </figure>

                                    @if (!card.IsDestroyed && Model.AttackerCards.Cards.Any(x => x.IsSelected))
                                    {
                                        <a class="btn btn-link btn-sm" asp-controller="OfflineBattle" asp-action="AttackDefenderCard" asp-route-id="@card.CardId">Attack</a>

                                    }

                                    <div class="design-container">
                                        <span class="design design--1"></span>
                                        <span class="design design--2"></span>
                                        <span class="design design--3"></span>
                                        <span class="design design--4"></span>
                                        <span class="design design--5"></span>
                                        <span class="design design--6"></span>
                                        <span class="design design--7"></span>
                                        <span class="design design--8"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                    <div class="cardStats mr-3 text-right">
                        <p>Tire  <span>@card.Tire</span></p>
                        <p>Attack <br /> <span>@card.Attack</span></p>
                        <p>Defense <br /> <span>@card.Defense</span></p>
                        <p>Health <br /> <span>@card.Health</span></p>
                    </div>

                </div>

            }

        </div>

    </div>
</body>
