@model TheDarkPortal.Web.ViewModels.User.UserListViewModel;
@using TheDarkPortal.Common
@{
    this.ViewData["Title"] = "Arena";
}




<head>
    <link rel="stylesheet" href="~/css/arenahome.css" asp-append-version="true" />
</head>

<div id="arenabody" class="row justify-content-around">

    <div class="col-md-6 border border-primary">

        <table class="table table-dark">

            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Battle Set</th>
                    <th scope="col">Battle</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model.ArenaUsers)
                {
                    <tr>
                        <td>
                            <p class="mt-4">@(1)</p>
                        </td>
                        <td>
                            <p class="mt-4">@user.NickName</p>
                        </td>
                        <td>
                            <p class="mt-4">@user.ArenaPoints</p>
                        </td>
                        <td>
                            @foreach (var battleCard in user.UserBattleCards)
                            {
                                <img src="@battleCard.ImagePath" alt="Alternate Text" style="max-width: 4rem;" />
                            }
                        </td>
                        <td>
                            @if (User.Identity.Name.Substring(0, this.User.Identity.Name.IndexOf("@")) != user.NickName)
                            {
                                <a class="btn btn-primary mt-4" asp-controller="PvPBattle" asp-action="SetUpNewBattle" asp-route-defenderId="@user.Id">PvP Battle</a>

                                <a class="btn btn-primary mt-4" asp-controller="OfflineBattle" asp-action="NewOfflineBattleRoom" asp-route-defenderId="@user.Id">Offline Battle</a>
                            }
                        </td>

                    </tr>

                }

            </tbody>
        </table>
    </div>
    <div class="col-md-5 border border-primary">

        <div>

        </div>
        <div>

        </div>
        <div>

        </div>

    </div>
</div>