@model TheDarkPortal.Web.ViewModels.PvPBattle.PvPBattleRoomViewModel

@{
    this.ViewData["Title"] = "Home";
}


<div class="row justify-content-around">

    @*----------------Attacker---------------*@

    <div class="col col-md-5 border border-primary m-1">

        @foreach (var card in Model.FirstPlayerBattleCards)
        {
            <div class="card m-2" style="width: 8rem;">
                <a class="text-dark" asp-controller="Cards" asp-action="CardDetails" asp-route-id="@card.Id">
                    <div id="myCardModel">
                        <img class="card-img-top" src="@card.ImagePath" alt="Card image cap">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <div class="">
                        <div class="row justify-content-around">
                            <p><i class="fas fa-angle-double-right"></i>@card.Attack</p>
                            <p><i class="fas fa-shield-alt"></i>@card.Defense</p>
                            <p><i class="fas fa-heartbeat"></i>@card.Health</p>
                        </div>
                        <div class="row justify-content-around">
                            <p>Tire @card.Tire</p>
                            <p>Level @card.Level</p>
                        </div>
                    </div>
                    @*-------------- Battle Logic --------------*@
                    @if (Model.BattleRoom.isAttackerTurn)
                    {
                        @if (Model.SelectedCard == null && this.Model.BattleRoom.isAttackerTurn == true && Model.BattleRoom.AttackerId == Model.CurrentUserId && card.Health > 0)
                        {
                            <a class="btn btn-primary btn-sm" asp-controller="PvPBattle" asp-action="SelectCard" asp-route-cardId="@card.Id" asp-route-roomId="@Model.BattleRoom.RoomId">Select</a>
                        }
                        else
                        {
                            @if (card.IsSelected == true)
                            {
                                <a class="btn btn-primary btn-sm disabled">Selected</a>
                            }
                            else
                            {

                            }
                        }
                    }
                    else
                    {
                        @if (Model.SelectedCard != null && Model.BattleRoom.isAttackerTurn == false && card.Health > 0)
                        {
                            <a class="btn btn-primary btn-sm" asp-controller="PvPBattle" asp-action="Attack" asp-route-attackingCardId="@Model.SelectedCard.Id" asp-route-defendingCardId="@card.Id" asp-route-roomId="@Model.BattleRoom.RoomId">Attack</a>
                        }
                    }

                </div>
            </div>
        }

    </div>

    <div>
        <a class="btn btn-primary" asp-controller="PvPBattle" asp-action="EndOfBattle" asp-route-roomId="@Model.BattleRoom.RoomId">Leave Battle</a>
    </div>

    @*----------------Defender---------------*@

    <div class="col col-md-5 border border-primary m-1 d-flex align-items-end flex-column">
        @foreach (var card in Model.SecondPlayerBattleCards)
        {
            <div class="card m-2" style="width: 8rem;">
                <a class="text-dark" asp-controller="Cards" asp-action="CardDetails" asp-route-id="@card.Id">
                    <div id="myCardModel">
                        <img class="card-img-top" src="@card.ImagePath" alt="Card image cap">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <div class="">
                        <div class="row justify-content-around">
                            <p><i class="fas fa-angle-double-right"></i>@card.Attack</p>
                            <p><i class="fas fa-shield-alt"></i>@card.Defense</p>
                            <p><i class="fas fa-heartbeat"></i>@card.Health</p>
                        </div>
                        <div class="row justify-content-around">
                            <p>Tire @card.Tire</p>
                            <p>Level @card.Level</p>
                        </div>
                    </div>

                    @*--------------- Battle Logic ---------------*@
                    @if (Model.SelectedCard != null && Model.BattleRoom.isAttackerTurn && card.Health > 0)
                    {
                        <a class="btn btn-primary btn-sm" asp-controller="PvPBattle" asp-action="Attack" asp-route-attackingCardId="@Model.SelectedCard.Id" asp-route-defendingCardId="@card.Id" asp-route-roomId="@Model.BattleRoom.RoomId">Attack</a>

                    }
                    else
                    {
                        @if (Model.SelectedCard == null && this.Model.BattleRoom.isAttackerTurn == false && Model.BattleRoom.DefenderId == Model.CurrentUserId && card.Health > 0)
                        {
                            <a class="btn btn-primary btn-sm" asp-controller="PvPBattle" asp-action="SelectCard" asp-route-cardId="@card.Id" asp-route-roomId="@Model.BattleRoom.RoomId">Select</a>
                        }
                        else
                        {
                            @if (card.IsSelected == true)
                            {
                                <a class="btn btn-primary btn-sm disabled">Selected</a>
                            }
                            else
                            {

                            }
                        }
                    }

                </div>
            </div>
        }

    </div>

</div>