@model TheDarkPortal.Web.ViewModels.PvPBattle.PvPBattleRoomViewModel
@*----------------Second player Battle cards---------------*@

<a class="btn btn-primary" asp-controller="PvPBattle" asp-action="EndOfBattle" asp-route-roomId="@Model.BattleRoom.RoomId">Leave Battle</a>
<div class="row col-md-7 border border-primary">

    <div class="row">
        @foreach (var card in Model.SecondPlayerBattleCards)
        {
            <div class="card m-2" style="width: 11rem;">
                <a class="text-dark" asp-controller="Cards" asp-action="CardDetails" asp-route-id="@card.Id">
                    <div id="myCardModel">
                        <img class="card-img-top" src="@card.ImagePath" alt="Card image cap">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <div class="">
                        <div class="row justify-content-around">
                            <p><i class="fas fa-angle-double-right"></i>@card.Power</p>
                            <p><i class="fas fa-shield-alt"></i>@card.Defense</p>
                            <p><i class="fas fa-heartbeat"></i>@card.Health</p>
                        </div>
                        <div class="row justify-content-around">
                            <p>Tire @card.Tire</p>
                            <p>Level @card.Level</p>
                        </div>
                    </div>

                    @*To DO:: If( PlayerOne has selected a card )*@
                    <a class="btn btn-primary btn-sm" asp-controller="PvPBattle" asp-action="Attack" asp-route-id="@card.Id">Attack</a>

                </div>
            </div>
        }

    </div>

</div>

@*----------------FirstPlayer Battle cards---------------*@

<div class="row col-md-7 border border-primary">

    <div class="row">
        @foreach (var card in Model.FirstPlayerBattleCards)
        {
            <div class="card m-2" style="width: 11rem;">
                <a class="text-dark" asp-controller="Cards" asp-action="CardDetails" asp-route-id="@card.Id">
                    <div id="myCardModel">
                        <img class="card-img-top" src="@card.ImagePath" alt="Card image cap">
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <div class="">
                        <div class="row justify-content-around">
                            <p><i class="fas fa-angle-double-right"></i>@card.Power</p>
                            <p><i class="fas fa-shield-alt"></i>@card.Defense</p>
                            <p><i class="fas fa-heartbeat"></i>@card.Health</p>
                        </div>
                        <div class="row justify-content-around">
                            <p>Tire @card.Tire</p>
                            <p>Level @card.Level</p>
                        </div>
                    </div>

                    <a class="btn btn-primary btn-sm" asp-controller="PvPBattle" asp-action="Select" asp-route-id="@card.Id">Select</a>

                </div>
            </div>
        }

    </div>

</div>
